html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background: #fffefe;
    font-family: 'Mulish', sans-serif;
    color: #121211;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    color: #ee13b2;
}
a:hover, 
a:focus, 
a:active {
    text-decoration: none;
    outline: none;
    color: #121211;
}

p {
    line-height: 1.75;
}

.page-main {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.page-title {
    border-bottom: 1px dashed #d1d1d1;
    padding-bottom: 30px;
    display: inline-block; 
    text-align: center;
    width: 100%;
}
.page-content {
    border-bottom: 1px dashed #d1d1d1;
}

.navbar {
    margin-bottom: 0px !important
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ee13b2;
}

.alert-light {
    margin-bottom: 3rem;
    border-radius: 1px;
    border-color: #d1d1d1;
    border-left: 5px solid #ee13b2;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .copyright {
    color: #121211;
}

.django-ckeditor-widget, .cke_editor_id_content {
    width: 100% !important;
}
.cke_bottom {
    display: none !important;
}