{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
{% include 'pages/includes/page_menu.html' %}
{% for page in object_list %} <!-- page_list -->
<main class="page-main" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h3 class="mb-4">{{ page.title }}</h3>
                <div class="page-content">
                    <p>{{ page.content|striptags|safe|truncatechars:200 }}</p>
                    <p><a href="{% url 'pages:page' page.id page.title|slugify %}">
                        <span><strong>Leer más</strong></span></a>
                    {% if request.user.is_staff %}
                        |<a href="{% url 'pages:delete' page.id %}">
                            <span><strong>Eliminar</strong></span></a>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endfor %}
{% endblock %}