{% extends "core/base.html" %}
{% load static %}
{% block title %}{{ page.title }}{% endblock %}

{% block content %}
{% include 'pages/includes/page_menu.html' %}
<main class="page-main" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h3 class="mb-4">{{ page.title }}</h3>
                <div>
                    <p>{{ page.content|safe }}</p>
                    {% if request.user.is_staff %}
                        <p><a href="{% url 'pages:update' page.id %}">
                            <span><strong>Editar</strong></span></a>
                        |<a href="{% url 'pages:delete' page.id %}">
                            <span><strong>Eliminar</strong></span></a>
                        </p> 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}